/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --ff: "Poppins", sans-serif;
  --ff2: "Fira Code", monospace;
  --h3: 800 1.5rem / 1.2em var(--ff);
  --p: 400 1rem / 1.5em var(--ff);
  --p-code: 300 0.7rem / 2em var(--ff2);
  --hue: 200;
  --tertiary-hue: calc(var(--hue) + 300);
  --accent-hue: calc(var(--hue) + 60);
  --primary-color: hsl(var(--hue), 50%, 90%);
  --pre-primary-color: hsl(var(--hue), 50%, 95%);
  --secondary-color: hsl(var(--hue), 50%, 10%);
  --tertiary-color: hsl(calc(200 + 300), 80%, 20%);
  --accent-color: hsl(calc(200 + 60), 80%, 20%);
}
.dark-theme {
  --primary-color: hsl(var(--hue), 50%, 10%);
  --pre-primary-color: hsl(var(--hue), 50%, 15%);
  --secondary-color: hsl(var(--hue), 50%, 90%);
  --tertiary-color: hsl(calc(200 + 300), 80%, 80%);
  --accent-color: hsl(calc(200 + 60), 80%, 80%);
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--ff);
  font: var(--p);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h3 {
  font: var(--h3);
  margin: 0;
}
